<!DOCTYPE html>
<html lang="en", xmlns:th="http://www.thymeleaf.org">
<style>
    p.line {
        line-height: 0.5;
    }
</style>
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>
<h3>Person</h3>
<hr>
<p th:text="${person.getName() + ', ' + person.getYear()}"></p>
<hr>

<div th:if="${books.isEmpty()}">
    <p class="line">The man hasn't picked up any books yet</p>
</div>

<div th:if="${!books.isEmpty()}">
    <b><p class="line">Books: </p></b>
    <p th:each="book : ${books}"
       th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear()}"></p>

</div>
<hr>
<form th:action="@{/people/{id}/edit(id=${person.getId()})}">
    <input type="submit" value="Edit person">
</form>

<br/>

<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete person">
</form>

<br/>
<form th:action="@{/people}">
    <input type="submit" value="Back to people">
</form>
</body>
</html>